services:
  gluetun:
    container_name: gluetun
    image: ghcr.io/qdm12/gluetun:v3.41.0
    restart: unless-stopped
    pull_policy: missing
    cap_add:
      - NET_ADMIN
    env_file: gluetun.env
    volumes:
      - ./gluetun-data:/gluetun
    ports:
      - 8080:8080       # qBittorrent WebUI
      - 6881:6881       # qBittorrent tcp downloads
      - 6881:6881/udp   # qBittorrent udp downloads
      - 9696:9696       # Prowlarr
      - 7878:7878       # Radarr
      - 8989:8989       # Sonarr
      - 6767:6767       # Bazarr
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
        - downloads

  qbittorrent:
    container_name: qbittorrent
    image: ghcr.io/linuxserver/qbittorrent:5.1.4
    pull_policy: missing
    restart: unless-stopped
    network_mode: "service:gluetun"
    env_file: qbittorrent.env
    volumes:
      - ./qbittorrent-data:/config/qBittorrent
      - /mnt/mounted_shares/Downloads:/downloads
    depends_on:
      gluetun:
        condition: service_healthy

  prowlarr:
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr:latest
    pull_policy: always
    restart: unless-stopped
    network_mode: "service:gluetun"
    env_file: prowlarr.env
    volumes:
      - ./prowlarr-data:/config

  radarr:
    container_name: radarr
    image: ghcr.io/hotio/radarr:latest
    pull_policy: always
    restart: unless-stopped
    network_mode: "service:gluetun"
    env_file: radarr.env
    volumes:
      - ./radarr-data:/config
      - /mnt/mounted_shares/Downloads:/media/downloads
      - /mnt/mounted_shares/Movies:/media/movies

  sonarr:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr:latest
    pull_policy: always
    restart: unless-stopped
    network_mode: "service:gluetun"
    env_file: sonarr.env
    volumes:
      - ./sonarr-data:/config
      - /mnt/mounted_shares/Downloads:/media/downloads
      - /mnt/mounted_shares/Series:/media/series

  bazarr:
    container_name: bazarr
    image: ghcr.io/hotio/bazarr:latest
    pull_policy: always
    restart: unless-stopped
    network_mode: "service:gluetun"
    env_file: bazarr.env
    volumes:
      - ./bazarr-data:/config
      - /mnt/mounted_shares/Movies:/media/movies
      - /mnt/mounted_shares/Series:/media/series

networks:
  downloads:
    external: true